.board{
    height: 100vh;
    background-image: url('src/assets/Fond.png');
    background-size: cover;
    background-repeat: no-repeat;

}


.hands{
    height: 100vh;
}

/*
.handback_ip{
    display: flex;
    justify-content : center;
    transform: rotate(180deg);
    
}

.handback_pp{
    display: flex;
    justify-content : center;
    transform: rotate(180deg);
    
}*/

.flex-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.divs {
    margin: 3px;
    /*background-color: yellow;*/
    overflow: hidden;
}

.divmid {
	flex:9;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
}


/*Pour la partie gauche*/
.divleft {
	flex:2;
    display: flex;
    flex-direction: row;
    /*justify-content: flex-end;*/
    align-items: center;
}


.divright {
    flex:2;
	/*background-color: blue;*/
}


/*Et la div prendra un ratio de 2 par rapport au autres div row, Centre le contenu */
.divrowtop, .divrowbottom{
    flex:2;
    /*background-color: blue;*/
    display: flex;
    justify-content: center;
}

/*Aligne le contenu vers le bas de la flexbox (ici ça position en y)*/
.divrowtop{
    align-items: flex-start;
}

/*Aligne le contenu vers le haut de la flexbox (ici ça position en y)*/
.divrowbottom{
    align-items: flex-end;
}


/*Et la div prendra un ratio de 2 par rapport au autres div row, Centre le contenu */
.divrowmid{
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%
}

/*
.hands12 {
    /*transform-origin: left center;
    transform: rotate(90deg);
    display: flex;
    align-items: flex-end;/
    margin-left: -50px;
    transform: rotate(90deg);
    background-color: green;
}*/

.lastcard{
    margin-right: 50px;
}

.draw{
    margin-right: 50px;
}

/*Sera mit dans le fichier card.css*/
.back{    
    margin-right: -50px;
}

.card{    
    margin-right: -50px;
}

.circle{
    width: 100px;
    height: 100px;
    /*couleur sera directement géré sur le fichier jsx*/
    background-color: #3498db;
    /*Rajouter un contour*/
    border-radius: 50%;
}