.board{
    height: 100vh;
    background-image: url('src/assets/board/Fond.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.hands{
    height: 100vh;
}

/*
.handback_ip{
    display: flex;
    justify-content : center;
    transform: rotate(180deg);
    
}

.handback_pp{
    display: flex;
    justify-content : center;
    transform: rotate(180deg);
    
}*/

.flex-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.divs {
    /*margin: 3px;*/
    /*background-color: yellow;*/
    overflow: hidden;
    min-width: 170px;
}

.divmid {
	flex:9;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
}


/*Pour la partie gauche*/
.divleft {
	flex: 2;
    display: flex;
    flex-direction: row;
}


.divright {
    flex:2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
	/*background-color: blue;*/
}


/*Et la div prendra un ratio de 2 par rapport au autres div row, Centre le contenu */
.divrowtop, .divrowbottom{
    flex:2;
    /*background-color: blue;*/
    display: flex;
    justify-content: center;
}

/*Aligne le contenu vers le bas de la flexbox (ici ça position en y)*/
.divrowtop{
    align-items: flex-start;
}

/*Aligne le contenu vers le haut de la flexbox (ici ça position en y)*/
.divrowbottom{
    align-items: flex-end;
}


/*Et la div prendra un ratio de 2 par rapport au autres div row, Centre le contenu */
.divrowmid{
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%
}


.hand_1 {
    display: flex;
    flex-direction: column;
    margin-left: 95px;
    flex-wrap: wrap;
    max-height: 95vh;
    justify-content: center;
}

.hand_2 {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hand_0 {
    margin-bottom: 95px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 50px;
}

.hand_3 {
    display: flex;
    flex-direction: column;
    margin-right: 3%;
}

.lastcard{
    margin-right: 50px;
}

.draw{

}

/*Sera mit dans le fichier card.css*/
.back{    
    
}

.leftside{    
    margin-bottom: -50px;
    margin-left: -80px;
}

.rightside{    
    transform: rotate(-180deg);
    margin-bottom: -50px;
    margin-top: -50px;
}

.topside{
    margin-right: -50px;
}

.card{    
    margin-right: -50px;
    margin-bottom: -80px;
}

.circle{
    width: 70px;
    height: 70px;
    /*couleur sera directement géré sur le fichier jsx*/
    background-color: #3498db;
    /*Rajouter un contour*/
    border-radius: 50%;
}