/* MusicPlayer.css */
.audioPlayer {
  background: #c1b6bc;
  padding: 1.25rem; /* Équivalent à 20px si la taille de base de la police est 16px */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #333;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 100; 
  opacity: 0.8; 
  background-color: rgba(193, 182, 188, 0.7);
}



.controlsWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap; 
}

.controlButton {
  background-color: transparent;
  border: none;
  font-size: 1.5rem; /* Équivalent à 24px */
  cursor: pointer;
  color: #61dafb;
}

.controlButton:hover {
  color: #21a1f1;
}


.trackInfo {
  font-size: 1rem; /* Équivalent à 16px */
  text-align: center;
  margin-bottom: 0.625rem; /* Équivalent à 10px */
}

.progressContainer {
  width: 100%;
  background-color: #e1e1e1;
  border-radius: 5px;
  position: relative;
  height: 8px;
}

.progressBar {
  background-color: #61dafb;
  height: 100%;
  border-radius: 5px;
  width: 0%; /* La largeur sera mise à jour par React */
}


.progressTime {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem; /* Équivalent à 12px */
  margin-top: 5px;
}

.volumeControls {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 0.625rem; /* Équivalent à 10px */
}

.volumeIcon {
  font-size: 1.5rem; /* Équivalent à 24px */
}

.volumeSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: #d3d3d3;
  outline: none;
  height: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #61dafb;
  cursor: pointer;
}

.volumeSlider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #61dafb;
  cursor: pointer;
}

/* Responsive  */
@media (max-width: 768px) {
  .audioPlayer {
    padding: 1rem; /*  réduit pour les petits écrans */
  }

  .controlButton {
    font-size: 1.2rem; /* Un peu plus petit sur les écrans étroits */
  }

  .controlButton.active.one { color: #ff9800; } /* Couleur pour répétition d'une chanson */
  .controlButton.active.all { color: #ffcc00; } /* Couleur pour répétition de la playlist */

  .speaker-button {
    position: absolute;
    top: 10px;  /* Ajustez ces valeurs pour positionner le bouton */
    right: 10px;
    /* Ajoutez d'autres styles ici pour la mise en forme */
  }
  

.toggle-music-player-button {
  position: fixed; /* Assurez-vous que le bouton reste en place lors du défilement */
  top: 20px; /* Ajustez selon les besoins pour une meilleure visibilité */
  right: 20px; /* Placez le bouton sur le côté droit de l'écran */
  font-size: 2rem;
  z-index: 101; /* Assurez-vous qu'il est visible au-dessus d'autres éléments */
  background: none;
  border: none;
  cursor: pointer;
}


.toggle-music-player-button:hover {
  opacity: 0.7; /* Légère transparence lors du survol pour l'interaction utilisateur */
}

.trackInfo {
  font-size: 1.0rem; /* Augmentez la taille du texte */
  text-align: center;
  margin-bottom: 10px; 
  font-weight: bold; 
  color: #333; /* Couleur du texte bleu */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre du texte pour plus de profondeur */
}

}
