/* MusicPlayer.css */
.audioPlayer {
  background: #c1b6bc;
  padding: 0.8rem 0.75rem; /* Réduisez le padding pour diminuer la taille globale */
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #333;
  position: fixed;
  left: 80%;
  right: 70%;
  bottom: 350px;
  transform: translateX(-50%);
  width: 25%; 
  box-sizing: border-box;
  z-index: 100;
  opacity: 0.8;
  background-color: rgba(193, 182, 188, 0.7);
  align-items: center;
  justify-content: center;
}

.toggle-music-player-button {
  position: fixed;
  top: 20px;      
  right: 20px;    
  font-size: 2rem;
  z-index: 101;
  background: none;
  border: none;
  cursor: pointer;
  
}

.toggle-music-player-button:hover {
  opacity: 0.7; 
}



.controlsWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap; 
}

.controlButton {
  background-color: transparent;
  border: none;
  font-size: 1.3rem; /* Équivalent à 24px */
  cursor: pointer;
  color: #bd658a;
}

.controlButton:hover {
  color: #bd658a;
}


.trackInfo {
  font-size: 0.8rem; /* Équivalent à 16px */
  text-align: center;
  width: 100%;
  margin-bottom: 0.625rem; /* Équivalent à 10px */
}

.progressContainer {
  width: 100%;
  background-color: #e1e1e1;
  border-radius: 5px;
  position: relative;
  height: 6px;
}

.progressBar {
  background-color: #61dafb;
  height: 100%;
  border-radius: 5px;
  width: 0%;
}


.progressTime {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.75rem;
  margin-top: 5px;
}

.volumeControls {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 0.625rem; 
}

.volumeIcon {
  font-size: 1.5rem; 
}

.volumeSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: #d3d3d3;
  outline: none;
  height: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #61dafb;
  cursor: pointer;
}

.volumeSlider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #61dafb;
  cursor: pointer;
}

/* Responsive  */
@media (max-width: 768px) {
  .audioPlayer {
    width:45%;
    padding: 0.75rem; 
  }

  .controlButton {
    font-size: 1.2rem; 
  }

  .controlButton.active.one { color: #ff9800; } 
  .controlButton.active.all { color: #ffcc00; }

  .speaker-button {
    position: absolute;
    top: 10px;  
    right: 10px;
  
  }
  .toggle-music-player-button {
    font-size: 1.5rem; 
    top: 10px; 
    right: 10px; 
  }
  
}

.hoverTimeLabel {
  font-size: 0.7rem; 
  color: #fff; 
  position: absolute; 
  top: -20px; 
  background-color: rgba(151, 65, 118, 0.7);
  padding: 2px 5px; 
  border-radius: 3px; 
  white-space: nowrap; 
  display: none;
}

.progressContainer:hover .hoverTimeLabel {
  display: block; /* Montrer la label quand la souris est sur la progress bar */
}


.trackInfo {
  font-size: 1.0rem; 
  text-align: center;
  margin-bottom: 10px; 
  font-weight: bold; 
  color: #333; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre du texte pour plus de profondeur */
}


